*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root{
  --red: #AB5449;
  --white: #FAFAFA;
  --black: #48463E;
  --blue: #3590F3;
  --yellow: #E6AF2E;
}

/* 
blue rgb(53, 144, 243, .7)
white rgb(250, 250, 250, .7)
red rgb(171, 84, 73, .7)
yellow rgb(230, 175, 46, .7) 
black rgb(72, 70, 62, .7)
*/