.contact-background{
  height: 80vh;
  position: relative;
}

.contact-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-imgOverlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250, .9);
}

.contact-darkerOverlay{
  position: absolute;
  top: 0;
  width: 40vw;
  height: 100%;
  background-color: rgb(72, 70, 62, .5);
  font-size: 4rem;
}

.contact-info{
  color: var(--black)
}

.contact-info > h2{
  color: var(--black)
}

.contact-logo{
  padding-top: 30px;
  max-width: 100px;
  filter: invert(98%) sepia(20%) saturate(7370%) hue-rotate(190deg) brightness(129%) contrast(96%);
}

.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.contact-addressContainer{
  position: absolute;
  top: 8%;
  right: 5%;
}

.contact-formContainer{
  display: flex;
  justify-content: space-between;
  width: 45vw;
  height: 50vh;
  background-color: var(--red);
  border-radius: 3px;
}

.contact-contactList{
  list-style: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.contact-contactList > li{
  padding: 3px 0px;
}

.contact-contactList > li > span{
  font-size: 1.7rem;
  font-weight: 700;
  padding-right: 15px;
}

.form-main{
  display: flex;
  justify-content: space-between;
}

.form-rightSide{
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 15px;
}

.form-rightSide > label{
  margin-top: 15px;
}

.form-leftSide{
  display: flex;
  flex-direction: column;
  width: 23vw;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
}

textarea{
  height: 200px;
  width: 100%;
}

label{
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 3px;
}

input:focus, textarea{
  outline: none;
}

@media screen and (max-width: 700px) {
  .contact-info, .contact-darkerOverlay{
    display: none;
  }

  .contact-contactList{
   padding-left: 50px;
  }

  .contact-formContainer, .form-main{
    width: 90vw;
    justify-content: space-evenly;
  }

  .form-rightSide{
    width: 35vw;
  }
}