.home_hero-container{
  position: relative;
}


.home_hero{
  height: 100vh;
  width: 100%;
  object-fit: cover
}

.home_logo{
  max-height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  filter: invert(94%) sepia(10%) saturate(7291%) hue-rotate(333deg) brightness(94%) contrast(92%);
}

.home_title{
  font-size: 2rem;
  position: absolute;
  bottom: 10px;
  right: 85px;
  color: var(--white)
}

/* ######################### What We Do ###################### */

.home_wwd-container{
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid var(--blue);
  margin-top: -5px;
  height: 60vh;
}

.home_wwd-imgContainer{
  position: relative;
  width: 50vw;
  height: 60vh;
  text-align: center;
}

.home_wwd-imgOverlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(72, 70, 62, .7);
}

.home-wwd-img{
  object-fit: cover;
  width: 50vw;
  height: 60vh;
}

.home_wwd-title{
  position: absolute;
  right: 28%;
  font-size: 5rem;
  font-weight: 700;
  color: var(--yellow);
}

.home_wwd-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 50vw;
  font-size: 2rem;
  background-color: var(--white);
  height: 60vh;
  overflow-y: hidden;
}

/* ######################### About ###################### */

.home_about-main{
  display: flex;
  height: 100vh;
  background-color: var(--yellow);
  justify-content: space-between;
  padding: 30px;
}

.home_about-title{
  padding: 15px;
  font-size: 4.5rem;
  text-align: center;
}

.about-cards{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home_about-contentContainer{
  display: flex;
  padding: 15px;
  background-color: var(--white);
  width: 60vw;
  border-radius: 5px;
  margin-left: 30px;
  height: auto;
}

.about-cardText{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-cardText > span{
  font-size: 2rem;
  font-weight: 700;
}

.about-cardText > p{
  font-size: 1.6rem;
  max-width: 60vw;
}

.home_about-img{
  height: 100%;
  width: 30vw;
  object-fit: cover;
}


/* ######################### Footer ###################### */

.footer-main{
  height: 15vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
}

.footer-logo{
  max-height: 35px;
  width: auto;
  margin-bottom: 15px;
  filter: invert(98%) sepia(20%) saturate(7370%) hue-rotate(190deg) brightness(129%) contrast(96%);
}

.footer-text{
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: var(--white);
}

.footer-privacy{
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: var(--blue);
}

.footer-privacy:hover{
  color: var(--red);
  transition: .3s;
}