.home_hero{
  position: relative;
  height: 100vh;
  object-fit: fill;
  /* display: block; */
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 1010px) {
  .home_hero{
    height: 78vh;
    /* backround-size: cover; */
  }
}

@media screen and (max-width: 800px){
  .home_hero{
    height: 65vh;
  }
}

@media screen and (max-width: 644px){
  .home_hero{
    height: 39vh;
  }
}

/* ######################### What We Do ###################### */

.home_wwd-container{
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid var(--red);
  margin-top: -5px;
  height: 60vh;
}

.home_wwd-imgContainer{
  position: relative;
  width: 50vw;
  height: 60vh;
  object-fit: cover;
  text-align: center;
}

.home_wwd-imgOverlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(72, 70, 62, .7);
}

.home-wwd-img{
  object-fit: cover;
  width: 50vw;
  height: 60vh;
}

.home_wwd-title{
  position: absolute;
  right: 28%;
  font-size: 5rem;
  font-weight: 700;
  color: var(--yellow);
}

.home_wwd-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 50vw;
  font-size: 2rem;
  background-color: var(--white);
  height: 60vh;
  overflow-y: hidden;
}

@media screen and (max-width: 644px){
  .home_wwd-text{
   font-size: 1rem;
  }

  .home_wwd-title{
    top: 25%;
    text-align: center;
    padding-left: 45px;
  }
}

/* ######################### About ###################### */

.about-main{
  display: flex;
  height: 100vh;
  background-color: var(--yellow);
  justify-content: space-between;
  padding: 30px;
}

.about-header{
  padding: 15px;
  font-size: 4.5rem;
  text-align: center;
}

.about-cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-contentContainer{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--white);
  width: 60vw;
  border-radius: 5px;
  height: auto;
  transition: all 0.2s ease;
}

.about-cardTitle{
  position: relative;
  padding-right: 30px;
  font-size: 2.5rem;
  font-weight: 700;
}

.about-cardTitle::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;

  background-image: url('../assets/substract.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: .2s ease;
}

.about-contentContainer.open .about-cardTitle::after{
  background-image: url('../assets/right-arrow.png');
  transform: rotate(90deg);
  transition: .4s ease;
}

.about-contentContainer .about-cardDefault{
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: 0.2s ease;
}

.about-contentContainer.open .about-cardDefault{
  margin-bottom: 15px;
  max-height: 1000px;
  transition: .3s ease;
  opacity: 1;
  font-size: 1.6rem;
  padding-right: 20px;
}

.about-img{
  height: 100%;
  width: 30vw;
  object-fit: cover;
}

@media screen and (max-width: 1000px){
  .about-main{
    height:100vh;
  }

  .about-contentContainer{
    width: 85vw;
  }

  .about-cardTitle{
    font-size: 1.4rem;
  }

  .about-img{
    display: none;
  }

  .about-contentContainer.open .about-cardDefault{
    font-size: 1rem;
    padding-right: 40px;
    transition: .2s;
  }
}



/* ######################### Footer ###################### */

.footer-main{
  display: flex;
  justify-content: center;
  align-items: end;
  height: 10vh;
  width: 100%;
  background-color: var(--black);
  gap: 15px;
}

.footer-logo{
  max-height: 35px;
  width: auto;
  margin-bottom: 15px;
  filter: invert(98%) sepia(20%) saturate(7370%) hue-rotate(190deg) brightness(129%) contrast(96%);
}

.footer-text{
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: var(--white);
}

.footer-privacy{
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: var(--blue);
}

.footer-privacy:hover{
  color: var(--yellow);
  transition: .3s;
}