.nav_navbar{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav_logo-container{
  display: flex;
  gap: 15px;
  padding: 15px 30px;
  justify-content: end;
}

.nav_logo{
  max-width: auto;
  max-height: 60px;
  filter: invert(98%) sepia(20%) saturate(7370%) hue-rotate(190deg) brightness(129%) contrast(96%);
}

.nav_title{
  display: flex;
  align-items: end;
  font-size: 2.5rem;
  color: var(--yellow)
}

.nav_links-container{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
  padding: 15px 30px;
  list-style: none;
}

.nav_links-container > li{
  position: relative;
  padding: 5px 10px;
  border-left: 1px solid var(--red);
  transition: .3s;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav_links-container > li > *{
  text-decoration: none;
  color: var(--white);
}

 .nav_links-container > *:hover{
  background-color: var(--red);
  transition: .3s;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}

.nav-hamburger{
  display: none;
}


@media screen and (max-width: 900px){

  .nav_logo{
    height: 45px;
  }

  .nav_title{
    align-items: center;
    font-size: 1.6rem;
  }

  .nav-hamburger{
    position: fixed;
    display: block;
    height: 35px;
    width: 35px;
    right: 10px;
    top: 30px;

    border: none;
    background: url('../assets/menu.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .nav-hamburger.active{
    height: 30px;
    width: 30px;

    background: url('../assets/close.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .nav_links-container{
    position: fixed;
    right: -100%;
    top: 75px;
    flex-direction: column;
    width: 175px;
    transition: .3s;
    align-items: start;
    justify-content: space-between;
    background-color:var(--black);
  }

  .nav_links-container.active > li{
    padding: 5px 10px;
    transition: .3s;
    font-size: 1.4rem;
    text-decoration: none;
  }

  .nav_links-container.active{
    right: 0;
  }
}
