.nav_navbar{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: var(--black);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav_logo-container{
  display: flex;
  gap: 15px;
  padding: 15px 30px;
  justify-content: end;
}

.nav_logo{
  max-width: auto;
  max-height: 60px;
  filter: invert(98%) sepia(20%) saturate(7370%) hue-rotate(190deg) brightness(129%) contrast(96%);
}

.nav_title{
  display: flex;
  align-items: end;
  font-size: 2.5rem;
  color: var(--yellow)
}

.nav_links-container{
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 15px;
  padding: 15px 30px;
  list-style: none;
}

.nav_links-container > *{
  padding: 5px 10px;
  border-left: 1px solid var(--red);
  transition: .3s;
  color: var(--white);
  font-size: 1.5rem;
  text-decoration: none;
}

 .nav_links-container > *:hover{
  background-color: var(--red);
  transition: .3s;
  cursor: pointer;
  border-radius: 5px 5px 0px 0px;
}